<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photo Viewer</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
  <script src="Scripts/httpCall.js"></script>
  <script src="Controller/indexController.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="Stylesheet/index.css">
</head>
<body ng-controller = "IndexController">
  <div id="container">
    <header class="col-md-12 col-sm-12 searchDiv">
      <form class="col-md-2 col-md-offset-5 col-sm-offset-4 col-sm-4">
        <input required type="text" ng-model = "param" placeholder="{{placeholder}}"/>
        <button ng-click="searchImg()">Search</button>
      </form>
      <div class="col-md-12 col-sm-12 dateSearchDiv" ng-show="showAllPhotos">
        <div class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-1">{{filter}}
          <label for="Start Date"></label>
          <input type="text" id="from" ng-model="minDate" placeholder="{{minDateSearch}}" />
          <label for="End Date"></label>
          <input type="text" id="to" name="to" ng-model="maxDate" placeholder="{{maxDateSearch}}" />
          <button type="button" ng-click="filterByDate(minDate,maxDate)">Enter</button>
        </div>
        <div class="col-md-2 col-sm-2 sortDiv">{{sort}}
          <select ng-model="sortOrder">
            <option value="server">Owner</option>
            <option value="title" ng-model="title">Title</option>
          </select>
        </div>
      </div>
    </header>
    <div class="modal col-md-10 col-md-offset-1" ng-show="showModal">
      <div class="modal-body height-controller enable-zoom" id="modal-body">
        <img src = "https://farm{{selectedPhotoFarm}}.staticflickr.com/{{selectedPhotoServer}}/{{selectedPhotoId}}_{{selectedPhotoSecret}}.jpg"
        class="col-md-offset-3" alt="Selected Photo" title="{{selectedPhotoTitle}}" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="closeImage()">Close</button>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 tableDiv">
      <table class="table col-md-12">
        <thead>
          <tr ng-show="showAllPhotos">
            <th class="headerCol">Title</th>
            <th class="imgCol headerCol">Photo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "returnedPhoto in returnedPhotos | orderBy:sortOrder">
            <td>{{returnedPhoto.title}}</td>
            <td>
              <img src="https://farm{{returnedPhoto.farm}}.staticflickr.com/{{returnedPhoto.server}}/{{returnedPhoto.id}}_{{returnedPhoto.secret}}.jpg"
              class="img" id="{{returnedPhoto.id}}" alt="Searched Photo" ng-click="previewImg($event)" title="{{preview}}"  />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-backdrop fade in" ng-show="showModal"></div>
    <div class="clearfooter"></div>
  </div>
  <footer class="col-md-12 col-sm-12">
    <p>&copy; {{footerMsg}}</p>
  </footer>
</body>
</html>
